<div *ngIf="user" class="home flex overflow-auto text-sm mt-12">
    <div class="w-80 flex-none p-3">
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/home">
            <i class="fa-solid text-slate-700 fa-house-chimney text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Home</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/user-information">
            <i class="fa-solid text-slate-700 fa-address-card text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Personal Information</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 bg-sky-100 mb-3 flex items-center cursor-pointer" routerLink="/security">
            <i class="fa-solid text-slate-700 fa-lock text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Security</p>
        </div>
    </div>
    <div class="flex-1 pr-80 overflow-auto scrollable-view">
        <div class="rounded-full size-24 mt-5 m-auto bg-sky-500 pt-5 text-center text-6xl museo antialiased text-sky-100">{{getInitials(user)}}</div>
        <h1 class="text-2xl text-center m-3 text-slate-700">Welcome, <span class="text-3xl">{{user.displayName}}</span></h1>
        <p class="text-center text-slate-600">Here is your security page. You can change your password here, as well as request further assistance if required.</p>

        <div class="grid grid-cols-2 gap-6 w-3/4 justify-self-center mt-10">
            <div>
                <label for="login" class="text-sm text-slate-700 font-medium">Login</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border bg-gray-100">
                        <input type="text" name="Login" id="login" class="grow py-1.5 text-slate-500  bg-gray-100 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" disabled [(ngModel)]="user.login">
                    </div>
                </div>
            </div>
            <div>
                <label for="username" class="text-sm text-slate-700 font-medium">Username</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border bg-gray-100">
                        <input type="text" name="Username" id="username" class="grow py-1.5 text-slate-500 bg-gray-100 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" disabled [(ngModel)]="user.username">
                    </div>
                </div>
            </div>
            <div class="col-span-2">
                <label for="currentPassword" class="text-sm text-slate-700 font-medium">Current Password</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border">
                        <input [type]="currentPasswordVisible ? 'text' : 'password'" name="Current Password" id="currentPassword" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="Enter your current password" [(ngModel)]="currentPassword">
                        <i *ngIf="!currentPasswordVisible" class="fa-solid text-slate-700 fa-eye text-lg" (click)="showCurrentPassword()"></i>
                        <i *ngIf="currentPasswordVisible" class="fa-solid text-slate-700 fa-eye-slash text-lg" (click)="hideCurrentPassword()"></i>
                    </div>
                </div>
            </div>
            <div class="col-span-2">
                <label for="changePassword" class="text-sm text-slate-700 font-medium">New Password</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border">
                        <input [type]="passwordVisible ? 'text' : 'password'" name="Change Password" id="changePassword" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="Enter your new password" [(ngModel)]="newPassword" (ngModelChange)="validateNewPassword(); validateNewPasswordConfirm()">
                        <i *ngIf="!passwordVisible" class="fa-solid text-slate-700 fa-eye text-lg" (click)="showPassword()"></i>
                        <i *ngIf="passwordVisible" class="fa-solid text-slate-700 fa-eye-slash text-lg" (click)="hidePassword()"></i>
                    </div>
                </div>
                <p class="text-sm pl-3 pt-1" [class.text-lime-600]="lengthCheck" [class.text-red-600]="!lengthCheck" [class.text-slate-500]="lengthCheck === undefined">
                    There must be at least 12 characters
                    <i *ngIf="!lengthCheck && lengthCheck !== undefined" class="fa-solid fa-xmark ps-2"></i>
                    <i *ngIf="lengthCheck && lengthCheck !== undefined" class="fa-solid fa-check ps-2"></i>
                </p>
                <p class="text-sm pl-3 pt-1" [class.text-lime-600]="caseCheck" [class.text-red-600]="!caseCheck" [class.text-slate-500]="caseCheck === undefined">
                    There must be both upper and lower case characters
                    <i *ngIf="!caseCheck && caseCheck !== undefined" class="fa-solid fa-xmark ps-2"></i>
                    <i *ngIf="caseCheck && caseCheck !== undefined" class="fa-solid fa-check ps-2"></i>
                </p>
                <p class="text-sm pl-3 pt-1" [class.text-lime-600]="numeralCheck" [class.text-red-600]="!numeralCheck" [class.text-slate-500]="numeralCheck === undefined">
                    There must be at least 1 number
                    <i *ngIf="!numeralCheck && numeralCheck !== undefined" class="fa-solid fa-xmark ps-2"></i>
                    <i *ngIf="numeralCheck && numeralCheck !== undefined" class="fa-solid fa-check ps-2"></i>
                </p>
                <p class="text-sm pl-3 pt-1" [class.text-lime-600]="specialCheck" [class.text-red-600]="!specialCheck" [class.text-slate-500]="specialCheck === undefined">
                    There must be at least 1 special character
                    <i *ngIf="!specialCheck && specialCheck !== undefined" class="fa-solid fa-xmark ps-2"></i>
                    <i *ngIf="specialCheck && specialCheck !== undefined" class="fa-solid fa-check ps-2"></i>
                </p>
            </div>
            <div class="col-span-2">
                <label for="confirmPassword" class="text-sm text-slate-700 font-medium">Confirm New Password</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border">
                        <input [type]="passwordConfirmVisible ? 'text' : 'password'" name="Confirm Password" id="confirmPassword" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="Confirm your new password" [(ngModel)]="newPasswordConfirm" (ngModelChange)="validateNewPassword(); validateNewPasswordConfirm()">
                        <i *ngIf="!passwordConfirmVisible" class="fa-solid text-slate-700 fa-eye text-lg" (click)="showConfirmPassword()"></i>
                        <i *ngIf="passwordConfirmVisible" class="fa-solid text-slate-700 fa-eye-slash text-lg" (click)="hideConfirmPassword()"></i>
                    </div>
                </div>
                <p class="text-sm pl-3 pt-1" [class.text-lime-600]="matchCheck" [class.text-red-600]="!matchCheck" [class.text-slate-500]="matchCheck === undefined">
                    Your passwords must match
                    <i *ngIf="!matchCheck && matchCheck !== undefined" class="fa-solid fa-xmark ps-2"></i>
                    <i *ngIf="matchCheck && matchCheck !== undefined" class="fa-solid fa-check ps-2"></i>
                </p>
            </div>
        </div>
        <div class="grid w-3/4 justify-self-center mt-5">
            <div class="justify-self-end">
                <button class="rounded-md bg-lime-600 text-white px-3 py-1.5 w-20 font-medium content-end  disabled:opacity-50" [disabled]="!currentPassword || !lengthCheck || !caseCheck || !numeralCheck || !specialCheck || !matchCheck" (click)="savePassword()">SAVE</button>
            </div>
        </div>
    </div>
</div>
