<div class="home flex overflow-scroll">
    <div class="w-80 flex-none p-3">
        <div class="rounded-s-full rounded-e-full p-1 bg-sky-100 mb-3 flex items-center cursor-pointer" routerLink="/home">
            <i class="fa-solid text-slate-700 fa-house-chimney text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Home</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/user-information">
            <i class="fa-solid text-slate-700 fa-address-card text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">User Information</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/security">
            <i class="fa-solid text-slate-700 fa-lock text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Security</p>
        </div>
    </div>
    <div *ngIf="user" class="flex-1 mr-80">
        <img class="rounded-full size-32 mt-16 m-auto" src="https://picsum.photos/200/200" alt="User Avatar">
        <h1 class="text-2xl text-center m-3 text-slate-700">Welcome, <span class="text-3xl">{{user.displayName}}</span></h1>
        <p class="text-center text-slate-600">You can view the latest news about SNOMED here, as well as manage your personal information, security, and privacy policies.</p>

        <div class="grid grid-cols-2 gap-6 w-3/4 justify-self-center mt-10">
<!--            <div class="col-span-2 border rounded-lg">-->
<!--                <div class="grid grid-cols-4">-->
<!--                    <div class="col-span-3 m-3">-->
<!--                        <h2 class="text-xl text-slate-700 p-2">News</h2>-->
<!--                    </div>-->
<!--                    <div class="justify-self-end mx-3 mt-3">-->
<!--                        <i class="fa-solid text-orange-400 fa-rss text-4xl p-2"></i>-->
<!--                    </div>-->
<!--                    <div class="col-span-4">-->
<!--                        <h3 class="text-slate-700 text-lg mx-3 px-2">Lorem Ipsum</h3>-->
<!--                        <p class="text-slate-700 m-3 p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum diam dolor, sit amet vulputate lectus interdum eu. Cras ultricies nulla in lacus dapibus, sit amet sollicitudin est gravida. Donec vulputate sit amet ligula sit amet tristique. Donec vitae laoreet purus. Fusce viverra lacus porta lorem pellentesque, eget tincidunt arcu dignissim. Ut lacinia pretium lorem vel pellentesque. Etiam volutpat leo mauris, id volutpat est iaculis vel. Donec sollicitudin eu quam sit amet imperdiet. Aliquam tincidunt lacus in mi commodo dapibus. Donec egestas vulputate ante, a ultricies neque facilisis dapibus. Cras rutrum suscipit molestie. Phasellus quis tortor risus. Vestibulum aliquet ultricies lacinia.</p>-->
<!--                    </div>-->
<!--                    <div class="col-span-4 border-t">-->
<!--                        <button class="p-2 rounded-md text-sky-500 w-full">Read More<i class="fa-solid fa-up-right-from-square ps-3"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Personal Information</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-address-card text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">Here is where you can view or change your personal information.</p>
                    </div>
                    <div class="col-span-4 border-t" routerLink="/user-information">
                        <button class="p-2 rounded-md text-sky-500 w-full">View Personal Information<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Security</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-lock text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">This is your security section, where you are able to reset your password.</p>
                    </div>
                    <div class="col-span-4 border-t" routerLink="/security">
                        <button class="p-2 rounded-md text-sky-500 w-full">View Security Information<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
