<div class="home flex overflow-scroll mt-12">
    <div class="w-80 flex-none p-3">
        <div class="rounded-s-full rounded-e-full p-1 bg-sky-100 mb-3 flex items-center cursor-pointer" routerLink="/home">
            <i class="fa-solid text-slate-700 fa-house-chimney text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Home</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/user-information">
            <i class="fa-solid text-slate-700 fa-address-card text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Personal Information</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/security">
            <i class="fa-solid text-slate-700 fa-lock text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Security</p>
        </div>
    </div>
    <div *ngIf="user" class="flex-1 pr-80 overflow-scroll scrollable-view">
        <div class="rounded-full size-32 mt-16 m-auto bg-sky-500 pt-9 text-center text-6xl museo antialiased text-sky-100">{{getInitials(user)}}</div>
        <h1 class="text-2xl text-center m-3 text-slate-700">Welcome, <span class="text-3xl">{{user.displayName}}</span></h1>
        <p class="text-center text-slate-600">You can view your SNOMED account, as well as manage your personal information, security, and privacy policies.</p>

        <div class="grid grid-cols-2 gap-6 w-3/4 justify-self-center my-10">
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Personal Information</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-address-card text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">Here is where you can view or change your personal information.</p>
                    </div>
                    <div class="col-span-4 border-t" routerLink="/user-information">
                        <button class="p-2 rounded-md text-sky-500 w-full">View Personal Information<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Security</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-lock text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">This is your security section, where you are able to change your password.</p>
                    </div>
                    <div class="col-span-4 border-t" routerLink="/security">
                        <button class="p-2 rounded-md text-sky-500 w-full">View Security Information<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Support</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-phone text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">Do you have an issue you need us to look into? If so contact support.</p>
                    </div>
                    <div class="col-span-4 border-t" routerLink="/security">
                        <button class="p-2 rounded-md text-sky-500 w-full">Contact Support<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Discourse</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-table text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">Discourse is an open forum for people to talk all things SNOMED.</p>
                    </div>
                    <div class="col-span-4 border-t" (click)="redirectTo('https://discourse.ihtsdotools.org/')">
                        <button class="p-2 rounded-md text-sky-500 w-full">Open Discourse<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
            <div class="border rounded-lg">
                <div class="grid grid-cols-4">
                    <div class="col-span-3 m-3">
                        <h2 class="text-xl text-slate-700 p-2">Freshdesk</h2>
                    </div>
                    <div class="justify-self-end mx-3 mt-3">
                        <i class="fa-solid text-slate-700 fa-headset text-4xl p-2"></i>
                    </div>
                    <div class="col-span-4">
                        <p class="text-slate-700 m-3 p-2">The Freshdesk portal is another great place to find support whilst using SNOMED CT.</p>
                    </div>
                    <div class="col-span-4 border-t" (click)="redirectTo('https://ihtsdo.freshdesk.com/support/home')">
                        <button class="p-2 rounded-md text-sky-500 w-full">Open Freshdesk<i class="fa-solid fa-arrow-right ps-3"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
