<div class="home flex overflow-scroll">
    <div class="w-80 flex-none p-3">
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/home">
            <i class="fa-solid text-slate-700 fa-house-chimney text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Home</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 bg-sky-100 mb-3 flex items-center cursor-pointer" routerLink="/user-information">
            <i class="fa-solid text-slate-700 fa-address-card text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">User Information</p>
        </div>
        <div class="rounded-s-full rounded-e-full p-1 hover:bg-sky-200 mb-3 flex items-center cursor-pointer" routerLink="/security">
            <i class="fa-solid text-slate-700 fa-lock text-2xl ps-2"></i>
            <p class="inline-block text-slate-700 ps-3">Security</p>
        </div>
    </div>
</div>
